.LivrosDoados{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{   
        font-size: 32px;
    }
}

.CardsLivrosDoados{
    width: 95%;
    height: 75vh;


    section{

        border: solid 3px #005695;
        border-radius: 20px;
        width: 20%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        div{
            text-align: center;
        }
    }
}

@media (max-width:780px){

    .CardsLivrosDoados{
     display: flex;
     flex-direction: column;
     align-items: center;

        section{
            width: 55%;
            
            div{ 
                display: flex;
                font-size: 20px;
                justify-content: space-around;
                flex-direction: column;
                height: 15vh;
            }
        }

    }
}