.LivrosDoados{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{   
        font-size: 32px;
        margin-top: 2rem;
        height: 10vh;
        
    }
}

.CardsLivrosDoados{
    width: 95%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 2rem;
    section{

        border: solid 3px #005695;
        border-radius: 20px;
        width: 30%;
        height: 52vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        img{
            width: 10vw;
        }


        div{
            text-align: center;
        }
    }
}

@media (max-width:780px){

    .CardsLivrosDoados{
     display: flex;
     flex-direction: column;
     align-items: center;
    
        section{
            width: 65%;
            font-size: 20px;
            img{
                width: 20vw;
            }

            div{ 
                display: flex;
                font-size: 30px;
                justify-content: space-around;
                flex-direction: column;
                height: 15vh;
            }
        }

    }
}